img {
    width: 250px; 
    transition: transform .1s;
}

img:hover{
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }


.content{
    opacity:0;
  }
   
.img:hover .content {
    opacity:1;
  }
  

h1 {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
  }
  

footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
  }
  